<section class="homepage-header">
    <div class="navbar-right">
        <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="fa fa-bars"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
        <nav class="section navigation">
            <ul class="nav nav-pills">
                <li>
                    <a href="/dataset?q=">All Datasets</a>
                </li>
                <li>
                    <a href="https://standards.dataspace.mobi">Standards</a>
                </li>
                <li>
                    <a href="https://about.dataspace.mobi">About</a>
                </li>
                <li>
                    <a href="/user/login">Log In</a>
                </li>
                <li>
                    <a href="/user/register">Register</a>
                </li>
            </ul>
        </nav>
    </div>
</section>