<section class="homepage-header">
    <div class="navbar-right">
        <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="fa fa-bars"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
        <nav class="section navigation">
            <ul class="nav nav-pills">
                <li>
                    <a href="">Products</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
            </ul>
        </nav>
    </div>
</section>