<section class="dataspace-homepage">
    <div class="container">
        <div class="hero">
            <img src="/dataspace_logo.svg" alt=""/>
            {% block search %}
                {% snippet 'home/snippets/search.html' %}
            {% endblock %}
            <h3>{{ g.site_intro_text }}</h3>
        </div>
        
        <img class="divider" src="/divider.svg" alt="">
        
        <div class="cat-grid">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/ev.svg" alt="Electric Vehicle"/>
                    </div>
                    <h4><a href="">Electric Vehicle</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/transit.svg" alt="Public Transit"/>
                    </div>
                    <h4><a href="">Public Transit</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/nmt.svg" alt="Non-Motorised"/>
                    </div>
                    <h4><a href="">Non-Motorised</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/infrastructure.svg" alt="Infrastructure"/>
                    </div>
                    <h4><a href="">Infrastructure</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/environment.svg" alt="Environment"/>
                    </div>
                    <h4><a href="">Environment</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/shared_mobility.svg" alt="Shared Mobility"/>
                    </div>
                    <h4><a href="">Shared Mobility</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/traffic.svg" alt="Traffic"/>
                    </div>
                    <h4><a href="">Traffic</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/freight.svg" alt="Freight"/>
                    </div>
                    <h4><a href="">Freight</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/finance.svg" alt="Finance"/>
                    </div>
                    <h4><a href="">Finance</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/parking.svg" alt="Parking"/>
                    </div>
                    <h4><a href="">Parking</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/safety.svg" alt="Road Safety"/>
                    </div>
                    <h4><a href="">Road Safety</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <img src="/others.svg" alt="Others"/>
                    </div>
                    <h4><a href="">Others</a></h4>
                </div>
            </div>
        </div>

        <img class="divider" src="/divider.svg" alt="">

        <h1>Explore DataSpace</h1>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 full-height explore">
                <div class="explore-1 full-height">
                    <h1>Data Standards Registry</h1>
                </div>
            </div>
            <div class="col-xs-6 full-height explore">
                <div class="row explore-row-first">
                    <div class="col-md-12 full-height">
                        <div class="explore-2 full-height">
                            <h2>Data Platform</h2>
                        </div>
                    </div>
                </div>
                <div class="row explore-row-second">
                    <div class="col-md-12 full-height">
                        <div class="explore-3 full-height">
                            <h2 class="color-black">Data License Registry</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="divider" src="/divider.svg" alt="">

    <div class="container building-blocks">
        <div class="row">
            <div class="col-md-6 intro">
                <h1>Building blocks of DataSpace</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas enim magna, maximus suscipit ligula ac, fringilla efficitur tortor. Donec non iaculis diam. Duis aliquam sem vel ipsum auctor convallis. </p>
            </div>
            <div class="col-md-6 components-list">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            High Quality Big Data
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            Transparent Licensing
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            Standardised Datasets
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            Data Privacy and Security by Design
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            Realtime Data Streaming 
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            Community Discussion Forum
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            Open APIs
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            Datathons
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="divider" src="/divider.svg" alt="">

    <div class="use-cases">
        <h1>Here’s what is possible</h1>



        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="8000">
            <!-- Indicators -->
            <!-- <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol> -->
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="use-case-container container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Find a near by EV charging station</h3>
                            </div>
                            <div class="col-sm-4">
                                <h3>Avoid crowds on public transit</h3>
                            </div>
                            <div class="col-sm-4">
                                <h3>Get realtime availability of parking spots</h3>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="use-case-container container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Explore safe cycling routes near you</h3>
                            </div>
                            <div class="col-sm-4">
                                <h3>Get traffic information in realtime</h3>
                            </div>
                            <div class="col-sm-4">
                                <h3>Plan your trip across different modes</h3>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="use-case-container container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Access road maintenance alerts in realtime</h3>
                            </div>
                            <div class="col-sm-4">
                                <h3>Improve logistics efficiency using big data</h3>
                            </div>
                            <div class="col-sm-4">
                                <h3>Ensure universal access to differently-abled people</h3>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="ds-icon ds-icon-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="ds-icon ds-icon-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



    </div>



</section>
  
  