<section class="dataspace-homepage">
    <div class="container">
        <div class="hero">
            <img src="/dataspace_logo.svg" alt=""/>
            {% block search %}
                {% snippet 'home/snippets/search.html' %}
            {% endblock %}
            <h3>{{ g.site_intro_text }}</h3>
        </div>
        
        <img class="divider" src="/divider.svg" alt="">
        
        <div class="cat-grid">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=ev">
                            <img src="/ev.svg" alt="Electric Vehicle"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=ev">Electric Vehicle</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=public%20transit">
                            <img src="/transit.svg" alt="Public Transit"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=public%20transit">Public Transit</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=non%20motorised">
                            <img src="/nmt.svg" alt="Non-Motorised"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=non%20motorised">Non-Motorised</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=infrastructure">
                            <img src="/infrastructure.svg" alt="Infrastructure"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=infrastructure">Infrastructure</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=environment">
                            <img src="/environment.svg" alt="Environment"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=environment">Environment</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=dhared%20mobility">
                            <img src="/shared_mobility.svg" alt="Shared Mobility"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=dhared%20mobility">Shared Mobility</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=traffic">
                            <img src="/traffic.svg" alt="Traffic"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=traffic">Traffic</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=freight">
                            <img src="/freight.svg" alt="Freight"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=freight">Freight</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=finance">
                            <img src="/finance.svg" alt="Finance"/>
                        </a>    
                    </div>
                    <h4><a href="/dataset?q=&tags=finance">Finance</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=parking">
                            <img src="/parking.svg" alt="Parking"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=parking">Parking</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=road%20safety">
                            <img src="/safety.svg" alt="Road Safety"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=road%20safety">Road Safety</a></h4>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="shadow-box">
                        <a href="/dataset?q=&tags=others">
                            <img src="/others.svg" alt="Others"/>
                        </a>
                    </div>
                    <h4><a href="/dataset?q=&tags=others">Others</a></h4>
                </div>
            </div>
        </div>

        <img class="divider" src="/divider.svg" alt="">

        <h1>Explore DataSpace</h1>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 full-height explore">
                <div class="explore-1 full-height">
                    <h1>Data Standards Registry</h1>
                </div>
            </div>
            <div class="col-xs-6 full-height explore">
                <div class="row explore-row-first">
                    <div class="col-md-12 full-height">
                        <div class="explore-2 full-height">
                            <h2>Data Platform</h2>
                        </div>
                    </div>
                </div>
                <div class="row explore-row-second">
                    <div class="col-md-12 full-height">
                        <div class="explore-3 full-height">
                            <h2 class="color-black">Data License Registry</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="divider" src="/divider.svg" alt="">

    <div class="container building-blocks">
        <div class="row">
            <div class="col-md-6 intro">
                <h1>Building blocks of DataSpace</h1>
                <p>Modelled on the DataSmart Cities strategy, a DataSpace is a public digital infrastructure that enables democratised sharing of high quality standardized datasets among various stakeholders in the quadruple helix model - Government, citizens, academia, and industry, in a secure and controlled manner.</p>
            </div>
            <div class="col-md-6 components-list">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>High Quality Big Data</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>Transparent Licensing</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>Standardised Datasets</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>Data Privacy and Security by Design</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>Realtime Data Streaming</p> 
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>Community Discussion Forum</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>Open APIs</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="shadow-box">
                            <p>Datathons</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="divider" src="/divider.svg" alt="">

    <div class="use-cases">
        <h1>Here’s what is possible</h1>



        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="8000">
            <!-- Indicators -->
            <!-- <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol> -->
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="use-case-container container-fluid">
                        <div class="row">
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-ev"></div>
                                <h3>Plug and Play</h3>
                                <p>Find the closest available EV charging station for your vehicle</p>
                            </div>
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-crowd"></div>
                                <h3>Public health and safety</h3>
                                <p>Steer clear of crowds with real time alerts on occupancy</p>
                            </div>
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-parking"></div>
                                <h3>Stress-free parking</h3>
                                <p>Review availability of parking spots across the city in real time</p>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="use-case-container container-fluid">
                        <div class="row">
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-safer"></div>
                                <h3>Safe streets for cycles</h3>
                                <p>Identify road accident hotspots and discover safe cycling routes</p>
                            </div>
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-traffic"></div>
                                <h3>Beat the traffic</h3>
                                <p>Access real-time alerts on traffic volumes and road congestion</p>
                            </div>
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-multimodal"></div>
                                <h3>Hop-on and Hop-off</h3>
                                <p>Plan a multi-modal trip across different public transit systems</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="use-case-container container-fluid">
                        <div class="row">
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-detour"></div>
                                <h3>Quick detours</h3>
                                <p>Avoid delays by receiving real-time alerts on road maintenance</p>
                            </div>
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-deliver"></div>
                                <h3>Smarter Deliveries</h3>
                                <p>Improve logistics efficiency using big data on roads and traffic</p>
                            </div>
                            <div class="col-sm-4 ds-icon-head">
                                <div class="img-container img-pwd"></div>
                                <h3>Mobility for all</h3>
                                <p>Explore universal access facilities on streets and public transport</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="ds-icon ds-icon-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="ds-icon ds-icon-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



    </div>

    <img class="divider" src="/divider.svg" alt="">

    <section class="supported-by">
        <h1>We're supported by</h1>

        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <img src="/iscf.svg" alt="India Smart Cities Fellowship"/>
                </div>
                <div class="col-md-7">
                    <p>The India Smart Cities Fellowship is a work-based learning program launched by the Ministry of Housing and Urban Affairs to provide young professionals from diverse fields of engineering, urban planning, architecture, information technology, education, finance and social sector with a platform to drive change.</p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>


</section>
  
  